{% extends 'base.html' %}
{%block title%} Login {%endblock%}
{% block content%}
<div class="container-fluid">
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {{ form.email }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.remember.label }} {{ form.remember }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <div class="row">
        <div class="col-md-2">
            <a href="{{ url_for('auth_blp.reset') }}">
                <button class="btn btn-danger btn-block">Reset Password</button>
            </a>
        </div>
    </div>

</div>
{% endblock %}