{% extends 'base.html' %}

{% block content %}
  <h2>Create Client Account</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.first_name.label }} {{ form.first_name() }}
    {{ form.last_name.label }} {{ form.last_name() }}
    {{ form.email.label }} {{ form.email() }}
    {{ form.phone_no.label }} {{ form.phone_no() }}
    {{ form.password.label }} {{ form.password() }}
    {{ form.confirm_password.label }} {{ form.confirm_password() }}
    {{ form.submit() }}
  </form>
  <a class="btn" href="{{ url_for('client_blp.get_client', id=client.id) }}">Cancel</a>
{% endblock %}