{% extends 'base.html' %}
{%block title%} Cases {%endblock%}
{% block content%}
<br>
<div class="card m-4">
    <div class="card-body row">
        <form action="{{ url_for('case_blp.all_cases') }}" class="mb-3 mb-lg-0 " method="GET">
            <div class="form-row row align-items-center">
                <div class="col-sm-4">
                    <label class="sr-only" for="nameFilter">Name</label>
                    <input class="form-control mb-2 mb-lg-0" id="nameFilter" name="nameFilter" placeholder="Name"
                           type="text">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary " type="submit">
                        Search
                        <svg class="bi bi-search" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% if user.user_type != "client" %}
<a href="{{ url_for('case_blp.new_case') }}">
    <button>New Case</button>
</a>
{% endif %}
<div class="container-fluid card ">
    <table class="table ">
        <thead>
        <tr>
            <th scope="col">Case Number</th>
            <th class="d-none d-md-table-cell" scope="col">Case Title</th>
            <th class="d-none d-md-table-cell" scope="col">Court Date</th>
            <th class="d-none d-md-table-cell" scope="col">Priority</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% if cases %}
        {% for case in cases %}
        <tr>
            <th scope="col"><a href="{{url_for('case_blp.get_case',id=case.id)}}">{{case.case_number}}</a></th>
            <td class="d-none d-md-table-cell">{{case.title}}</td>
            <td class="d-none d-md-table-cell">{{case.court_date}}</td>
            <td class="d-none d-md-table-cell">{{case.priority}}</td>
            <td class="d-none d-md-table-cell">{{case.status}}</td>
        </tr>
        {% endfor %}
        {% else%}
        <p>No Cases Yet</p>
        {% endif %}
        </tbody>
    </table>
</div>
<div align="center">
    {% if cases.has_prev %}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.all_cases', page=cases.prev_num)}}">&laquo;</a>
    {% endif %}
    {% for page_num in cases.iter_pages()%}
    {% if page_num %}
    {%if cases.page == page_num%}
    <a class="btn btn-info btn-sm mt-3" href="{{url_for('case_blp.all_cases', page=page_num)}}">{{page_num}}</a>
    {%else%}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.all_cases', page=page_num)}}">{{page_num}}</a>
    {% endif%}
    {% else %}
    ....
    {%endif%}
    {% endfor %}
    {% if cases.has_next %}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.all_cases', page=cases.next_num)}}">&raquo;</a>
    {% endif %}
</div>
{% endblock %}