{% extends "base.html" %}
{%block title%} Case Notes {%endblock%}
{% block content %}
<div class="container">
    <div class="card-body row">
        <form action="{{ url_for('case_blp.view_notes', id=case.id) }}" class="mb-3 mb-lg-0 " method="GET">
            <div class="form-row row align-items-center">
                <div class="col-sm-4">
                    <label class="sr-only" for="emailFilter">Email</label>
                    <input class="form-control mb-2 mb-lg-0" id="emailFilter" name="emailFilter" placeholder="Email"
                           type="text">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary " type="submit">
                        Search
                        <svg class="bi bi-search" fill="currentColor" height="16" viewBox="0 0 16 16"
                             width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <h2>Case Notes for {{ case.title }}</h2>
    {% if notes %}
    <ul class="list-group">
        {% for note in notes %}
        <li class="list-group-item">
            <div class="note-header">
                <strong>Note by: <a href="{{url_for('auth_blp.user_info',id=note.user.id)}}">{{ note.user.email
                    }}</a></strong>
                <strong>Reference Date: {{ note.reference_date }}</strong>
            </div>
            <div class="note-body">
                <p>{{ note.note }}</p>
            </div>
            {%if user.id == note.user_id%}
            <a href="{{url_for('case_blp.edit_note',id=note.id)}}">Edit Note</a>
            {%endif%}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No notes available for this case.</p>
    {% endif %}
    <div class="form-group mt-3">
        {% if user.user_type != "client" %}
        <a href="{{ url_for('case_blp.add_note', id=case.id) }}" class="btn btn-primary">Add Note</a>
        {% endif %}
        <a href="{{ url_for('case_blp.get_case', id=case.id) }}" class="btn btn-secondary">Back</a>
    </div>
</div>
<div align="center">
    {% if notes.has_prev %}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.view_notes', page=notes.prev_num, id=case.id)}}">&laquo;</a>
    {% endif %}
    {% for page_num in notes.iter_pages()%}
    {% if page_num %}
    {%if notes.page == page_num%}
    <a class="btn btn-info btn-sm mt-3"
       href="{{url_for('case_blp.view_notes', page=page_num,id=case.id)}}">{{page_num}}</a>
    {%else%}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.view_notes', page=page_num,id=case.id)}}">{{page_num}}</a>
    {% endif%}
    {% else %}
    ....
    {%endif%}
    {% endfor %}
    {% if notes.has_next %}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.view_notes', page=notes.next_num,id=case.id)}}">&raquo;</a>
    {% endif %}
</div>
{% endblock %}
