{% extends 'base.html' %}
{% block title %}Hearings for Case {{ case.case_number }}{% endblock %}
{% block content %}
<h2>Hearings for Case {{ case.case_number }}</h2>
<form method="get" action="{{ url_for('case_blp.view_hearings', case_id=case.id) }}">
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date }}">
    </div>
    <div class="form-group">
        <label for="end_date">End Date</label>
        <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date }}">
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
{% if hearings %}
<table class="table">
    <thead>
    <tr>
        <th>Hearing Date</th>
        <th>Next Hearing Date</th>
        <th>Description</th>
        <th>Details</th>
        <th>Uploaded By</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for hearing in hearings %}
    <tr>
        <td>{{ hearing.hearing_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ hearing.next_hearing_date.strftime('%Y-%m-%d %H:%M:%S') if hearing.next_hearing_date else 'N/A' }}</td>
        <td>{{ hearing.description }}</td>
        <td>{{ hearing.details }}</td>
        <td>{{ hearing.user.first_name }} {{ hearing.user.last_name }}</td>
        <td>
            <a href="{{ url_for('case_blp.edit_hearing', hearing_id=hearing.id) }}"
               class="btn btn-warning btn-sm">Edit</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hearings found for this case.</p>
{% endif %}
<a class="btn btn-primary" href="{{ url_for('case_blp.get_case', id=case.id) }}">Back to Case Details</a>
<a class="btn btn-success" href="{{ url_for('case_blp.add_hearing', case_id=case.id) }}">Add Hearing</a>
<div align="center">
    {% if hearings.has_prev %}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.view_hearings', page=hearings.prev_num, case_id=case.id)}}">&laquo;</a>
    {% endif %}
    {% for page_num in hearings.iter_pages()%}
    {% if page_num %}
    {%if hearings.page == page_num%}
    <a class="btn btn-info btn-sm mt-3"
       href="{{url_for('case_blp.view_hearings', page=page_num,case_id=case.id)}}">{{page_num}}</a>
    {%else%}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.view_hearings', page=page_num,case_id=case.id)}}">{{page_num}}</a>
    {% endif%}
    {% else %}
    ....
    {%endif%}
    {% endfor %}
    {% if hearings.has_next %}
    <a class="btn btn-outline-info btn-sm mt-3"
       href="{{url_for('case_blp.view_hearings', page=hearings.next_num,case_id=case.id)}}">&raquo;</a>
    {% endif %}
</div>
{% endblock %}
